body{
    background-color: #424242;
    color:#fff;
}

#clock{
    text-align: center;
    width: 50%;
    position: absolute;
    top:20%;
    left:25%;
}
#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.clock-container{
    display:flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    align-content:center;
}
.clock-items{
    width:32%;
    background-color: #fff;
    color:#000;
    border-radius: 10px;
    margin-right: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
}
#date{
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 10px;
}